body {
    font-size: 62.5%;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
    color: var(--light);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4,h5, h6 {
    margin: 0;
}

span {
    display: inline-block;
}