:root {
  --font-family: "Play", sans-serif;
  --gray: #b1afae;
  --shadow-light: #706b66;
  --shadow-dark: #242323;
  --dark: #424140;
  --light: #e7e4e1;
  --box-shadow-dark: 2px 5px 3px var(--shadow-dark);
  --box-shadow-light: 5px 5px 3px var(--shadow-light);
}
