@import "variables";
@import "reset";
@import "base";
@import "animations";
@import "classes";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--dark);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--box-shadow-dark);
}
main {
  flex: 3;
  display: flex;
  flex-direction: column;
  background: url(../images/header-background.png);

  h2 {
    color: var(--light);
  }

  p {
    color: var(--light);
  }
}

footer {
  flex: 1;
  background-color: green;
}

.fa-space-shuttle {
  z-index: -1;
  position: absolute;
  left: 400px;
  top: 45px;
  color: var(--light);
  transition: all 0.4s;
  opacity: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  h1 > a {
    display: inline;
    font-size: 2.4rem;
    text-shadow: 2px 2px 3px var(--shadow-light);
  }

  h1:hover {
    i {
      opacity: 1;
      transition: transform 0.7s;
      transform: translateX(300px);
    }
  }
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 80px;
  height: 80px;
  border: 2px solid var(--light);
  border-radius: 10px;
  box-shadow: 1px 1px 2px var(--shadow-light);
  cursor: pointer;

  span {
    width: 50px;
    height: 3px;
    background: var(--light);
    margin: 5px 0;
    box-shadow: 2px 2px 3px black;
    border-radius: 50px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  position: fixed;
  right: 150px;
  width: 300px;
  height: 300px;
  background: var(--shadow-dark);
  border-radius: 20px;
  box-shadow: 4px 3px 4px var(--dark);

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      &:nth-child(1) {
        p {
          margin-top: 6px;
        }
      }

      p {
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 1.5px 1.5px 1.5px var(--shadow-light);
        transition: all 0.2s;

        &:hover {
          transition: all 0.2s;
          transform: translate(-4px, -4px);
        }
      }
      span {
        width: 220px;
        height: 1px;
        background: var(--shadow-light);
        opacity: 0.6;
      }
    }
  }
}

.who {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  div {
    background: var(--dark);
    padding: 2rem;
    border-radius: 20px;
    margin-top: 3rem;
    box-shadow: var(--box-shadow-light);
    p {
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 1.2px;
      white-space: pre-line;
      line-height: 2.4rem;
    }
  }
}

.presentation {
  flex: 1;
  background: yellow;
}

.join {
  flex: 1;
  background: purple;
}
